*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

        

nav a {
  background-color: blue;
  color: white;
  text-decoration: none;
}

.active {
  background-color:rgb(117, 161, 51);
}

header {
    position: relative;
    
}

#principal {

  position: relative;
  width: 83%;
  height: 300px;
  left: 75px;
  top: 50px;
  
}


.brand {
  
  position: relative;
  top: 46px;
  left: 75px;
  z-index: 1;
  font-size: 40px;
  backdrop-filter: blur(1px);
}

#logo {
  background-color: #dddada;
  border-radius: 30px;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 475px;
  left: 75px;
  z-index: 1;
}
.main-nav ul li {
  display: inline-block;
  position: relative;
  left: 750px;
  top: -270px;
  z-index: 1;
}

#menu{
    
    list-style: none;
    

}

.tit-section {
  background-color: black;
  color: white;
  width: 83%;
  left: 75px;
  position: absolute;
  top: 410px;
  font-size: large;
  text-align: center;
}

.section-img{      
  position: relative;
/* align-content: center; */
  width: 40%;
  left: 512px;
  top: 70px;

  
}


.content{
  left: 210px;
  top: 474px;
  position: absolute;
  font-size: large;
  list-style: none;
  
}
.resalta{
  backdrop-filter: contrast(0.5);
}
.p {
  position: relative;
}

footer{
    display: inline;
    top: 90px;
    position: relative;
}

.contact-img{
    position: relative;
    width: 50%;
    left: 310px;
    top: 131px;
}


