*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  
}

body{
    background-color: rgb(212, 228, 236);
}

Header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: slategrey;
  margin-top: 30px; 
  flex-wrap: wrap;
}


#logo {
  width: 177px;
  height: auto;
  margin-right: 20px;
  margin-top: -65px;
}

.main-nav {
    display: flex;
    background-color:none;
    flex-grow: 1;
    /*justify-content: right;*/
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#menu li {
  margin-right: 20px;
  
  background-color: #f8e12e;
  padding: 5px;
  border: 2px solid #5fa199;
}


#menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

  .brand {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
  }
  
  #principal {
    width: 100%;
    height: 382px;
    display: flex;
    position: relative;
    top: -5em;
    z-index: -1;
  }
  
  #logo {
    width: 150px;
    height: auto;
  }
  
  .main-nav {
    display: flex;
  }
  

  .section-img {
    width: 35%;
    height: auto;
    margin-left: 2%;
    
  }
  
  
  
  
  .content-ev {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
  }
  

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

footer p {
  margin: 0;
  font-size: 14px;
}

/*-------------Home------*/

.main-home {
    display: flex;
    flex-wrap: wrap;
}

.tit-section{
    text-align: center;
    font-size: xxx-large;
    font-style: italic;
    text-decoration: underline;
    margin-top: -5%;
}

.home-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-sec {
    width: 15%;
    margin: 2%;
}

@media (max-width: 767px) {
    .home-sec {
      flex-direction: column;
    }
  
    .logo-sec,
    .content-ev,
    .section-img {
      width: 100%;
      margin: 0;
    }
  }

/*--------------rules-----------*/
  
#rules-m {
    width: 80%;
    margin: 50px auto;
    text-align: justify;
    font-size: 16px;
    
  }
  
  
.tit-r {
    text-align: center;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-block: auto;
    font-size: x-large;
    
  }

.p-r-1{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
}  
  
.tit-r-2 {
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }
  
ol {
    list-style-type: decimal;
    margin-left: 20px;
  }
  
.tit-r-3 {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }
  
.p-r {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  /*--------Games Info---------------*/

  
 
 section{
    margin-left: 5%;
    line-height: 3;
    padding-bottom: 3em;
 }

 #game-t {
    position: relative;
  }
  
  #game-t img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 table {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 80%;
    border-collapse: collapse;
    z-index: 1;
    
  }
   
 
  th, td {
    
    padding: 8px;
    text-align: left;
  }
  
  th, tr {
    background-color: #c2dfdb;
  }
  
 
 .g-i-4 {
    text-decoration: underline;
 }
  
  /*------------CONTACT-------------*/

  .main-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-img {
    width: 30%;
    margin-right: 20px;
    align-self: flex-end;
    
  }
  
  .tit-section {
    margin-bottom: 10px;
    
  }
  
  .content {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  
  .logo-contact{
    width: 45%;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-self: center;

  }
  
/*---------Checkbox y form-------------*/

form {
    background-color: aliceblue;
    display: inline-block;
    position: relative;
    margin: 16px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif;
}

label  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;   
}

legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-left: 3px;
}


input {
    font-family: Arial, Helvetica, sans-serif;
}
input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 3px solid #f8e12e;
    border: 3px solid white;
    width: 16px;
    height: 16px;
  }
  
input[type='radio']:checked {
    background: #5fa199;
  }
  
  input[type='checkbox'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 3px solid #f8e12e;
    border: 3px solid white;
    width: 16px;
    height: 16px;
  }
  
input[type='checkbox']:checked {
    background: #5fa199;
  }  

#form-tit {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin: inherit;
}  
  
.personal {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div {
    margin: 5px;
}

fieldset {
    
    margin-top: 20px;
}

.position> label {
    display: inline-block;
    margin: 5px;
    margin-top: 5px;
}

.position> input {
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
}

.uniform> label{
    display: inline-block;
    margin: 5px;
    margin-top: 5px;

}

.uniform> input{
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;

}

.permission> p {
    font-family: arial;
    line-height: 1.5;
    text-indent: initial;
    margin-left: 5px;
}

.submit {
    
    font-size: larger;
    font-weight: bold;
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 5px solid #f8e12e;
    border: 5px solid white;
    margin-top: 8px;
}

/*---- Media query---- */
@media only screen and (max-width: 767px) {
    /* Hide logo */
    #logo {
      display: none;
    }
  
    .main-nav {
      display: none;
    }
  
    /* Crea dropdown menu */
    .dropdown-menu {
      display: block;
      position: relative;
    }
  
    .dropdown-menu button {
      background-color: #fff;
      border: none;
      cursor: pointer;
      display: block;
      padding: 10px 15px;
      width: 100%;
    }
  
    .dropdown-menu button:after {
      content: "▼";
      font-size: 10px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .dropdown-menu ul {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  
    .dropdown-menu ul li {
      margin: 0;
      padding: 10px 0;
      width: 100%;
    }
  
    .dropdown-menu ul li a {
      color: #333;
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      width: 100%;
    }
  
    /*-- muestra dropdown menu-- */
    .dropdown-menu button:focus + ul,
    .dropdown-menu button:active + ul {
      display: block;
    }
  }