*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

        

nav a {
  color: blue;
}

.active {
  color:black;
}

header {
    position: relative;
    
}

#principal {

  position: relative;
  width: 83%;
  height: 300px;
  left: 75px;
  
}


.brand {
  
  position: relative;
  top: 46px;
  left: 75px;
  z-index: 1;
  font-size: 40px;
  backdrop-filter: blur(1px);
}

#logo {
  background-color: #dddada;
  border-radius: 30px;
  width: 120px;
  height: 120px;
  position: relative;
  top: 70px;
  right: 120px;
  z-index: 1;
}
.main-nav {
  display: block;
  top: 70px;
  left: 75px;
  position: relative;
}

#menu{
list-style: none;
line-height: 5;
}

.tit-section {
  background-color: black;
  color: white;
  width: 83%;
  left: 75px;
  position: absolute;
  top: 360px;
  font-size: large;
  text-align: center;
}

.section-img{      
  position: relative;
/* align-content: center; */
  width: 73%;
  left: 190px;
  top: -157px;
  filter: blur(2px);
  
}


.content{
  left: 210px;
  top: 474px;
  position: absolute;
  font-size: large;
  list-style: none;
  
}
.resalta{
  backdrop-filter: contrast(0.5);
}
.p {
  position: relative;
}


